html, body {
    height: 100%;
    color: #E0E0E0 !important; //demo
    font-weight: bold !important; //demo
}

#root {
    display: flex;
    height: 100%;
}
* {
    outline: 1px solid #555;
}

.ins-container, .side-container {
    background: #424242 !important; //demo
}

.pre-container {
    background: #333333 !important; //demo
}

// Add custom styles above this line
@import '~bootstrap/scss/bootstrap.scss';
