html, body {
    height: 100%;
    color: #e0e0e0 !important; //demo
    font-weight: bold !important; //demo
}

#root {
    display: flex;
    height: 100%;
}

* {
    outline: 1px solid #555;
}

.ins-container, .side-container {
    background: #424242 !important; //demo
}

.pre-container {
    background: #333333 !important; //demo
}

.pre-screen {
    background: #212121 !important; //demo
}

.btn {
    background: #eeeeee !important; //demo
    color: #424242 !important; //demo
    font-weight: bold !important; //demo
    margin-bottom: 1.5rem; //demo
}

.tab-list-active {
    background: #727272;
}

.tab-list-item {
    padding: 10px;
    font-size: 20px;
}

.tab-content {
    font-size: 20px;
}

// Add custom styles above this line
@import '~bootstrap/scss/bootstrap.scss';
