@import 'styles/variables';

.item-create-actions {
    text-align: right;
}

.item-create-container {
    background-color: $color-gray-900;
    border-radius: 5px;
    margin: 0.5rem;
    margin-top: 0;
    padding: 1rem;
}

.create-new-btn {
    max-width: 40px !important;
}
