@import 'styles/variables';

// Global

html, body {
    height: 100%;
    color: $color-gray-300 !important; //demo
    font-weight: bold !important; //demo
}

#root {
    display: flex;
    height: 100%;
}

.listitem {
    background: $color-gray-875;
    padding: 0.2em 0.4em 0 0.6em;
    border-radius: 5px;
}

.active-listitem {
    background: $color-gray-700;
}

.listitem-name {
    display: inline-block;
    max-width: calc(100% - 30px);
    word-break: break-word;
}


// Inspector

.ins-container, .side-container {
    background: $color-gray-800 !important; //demo
}


// Preview

.pre-container {
    background: $color-gray-850 !important; //demo
}

.pre-screen {
    background: $color-gray-900 !important; //demo
}


// Tabs

.tab-list-active {
    background: $color-gray-600;
}

.tab-list-item {
    padding: 10px;
    font-size: 1.2rem;

    &:hover {
        background: $color-gray-700;
    }
}

// Misc

.trash {
    float: right;
}

.error-message {
    color: $color-red-500;
}

// Add custom styles above this line

@import '~bootstrap/scss/bootstrap.scss';
