@import 'styles/theme';

.ins-container {
    background: white;
}

.ins-props {
    margin-top: 1em;

    .input-img {
        width: 100%;
        height: 250px;
        max-width: 250px;
        margin: 0 auto;
        background-color: $color-gray-900;
        color: $color-gray-300;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &:hover {
            filter: opacity(0.85);
        }
    }

    .input-img-name {
        display: block;
        font-size: 0.75em;
    }

    .input-group {
        margin-bottom: 0.75em;
    }
}

.item-edit-actions {
    text-align: right;
}
