@import 'styles/variables';

.ins-container {
    background: $color-gray-800;
}

.ins-header {
    font-size: $font-medium-large;
    text-align: center;
    padding: 0.5em;
}

.ins-props {
    margin-top: 1em;

    .input-img {
        width: 100%;
        max-width: 100%;
        min-height: 250px;
        max-height: 250px;
        margin: 0 auto;
        background-color: $color-gray-900;
        color: $color-gray-300;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &:hover {
            filter: opacity(0.85);
        }

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .input-img-name {
        font-size: $font-small;
        position: absolute;
        max-width: 250px;
        max-height: 250px;
    }

    .input-group {
        margin-bottom: 0.75em;
    }
}

.ins-props-header {
    display: block;
    font-size: $font-medium-large;
    border-bottom: 1px solid $color-gray-600;
    margin-bottom: 0.5em;
}

.item-edit-actions {
    text-align: right;
    margin-bottom: 1em;
}

.xy-col {
    padding: 5px 0px 0px 0px !important;
}

.xy-input {
    float: right;
    padding-left: 5px !important;
}

.xy-container {
    margin-bottom: 1.5rem;
}

.change-color-onhover {
    &:hover {
        color: $color-gray-500;
    }
}

.form-control:disabled {
    opacity: 0.5 !important;
}
