@import 'styles/variables';

.ins-container {
}

.ins-header {
    font-size: $font-large;
    padding: 10px;
}

.ins-props {
    margin-top: 1em;

    .input-img {
        width: 100%;
        height: 250px;
        max-width: 250px;
        margin: 0 auto;
        background-color: $color-gray-900;
        color: $color-gray-300;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &:hover {
            filter: opacity(0.85);
        }

        img {
            max-height: 250px;
            max-width: 250px;
        }
    }

    .input-img-name {
        font-size: $font-small;
        position: absolute;
        max-width: 250px;
        max-height: 250px;
    }

    .input-group {
        margin-bottom: 0.75em;
    }
}

.ins-props-header {
    display: block;
    font-size: $font-large;
    border-bottom: 1px solid $color-gray-600;
    margin-bottom: 0.5em;
}

.item-edit-actions {
    text-align: right;
}
