@import 'styles/variables';

.pre-container {
    background: $color-gray-850;
}

.pre-screen {
    background: $color-gray-900;
}

.pre-controls {
    text-align: center;
    flex-grow: 1;
    font-size: $font-large;
}

.pre-controls > div {
    padding: 10px;
}

.pre-controls > div:hover {
    background: $color-gray-700;
}

.pre-screen {
    height: 500px;
}
