@import 'styles/variables';

.pre-container {
    background: $color-gray-850;
}

.pre-screen {
    background: $color-gray-900;
    height: 100%;
    overflow-x: auto;
}

.pre-controls {
    text-align: center;
    flex-grow: 1;
    font-size: $font-medium-large;
}

.pre-controls > div {
    padding: 0.5em;
}

.pre-controls > div:hover {
    background: $color-gray-700;
}

.pre-content {
    height: 660px;
}

.konvajs-content {
    margin: 0 auto !important;
}
