@import 'styles/variables';

.action-header-container {
    position: relative;
}

.searchbox-container {
    position: absolute !important;
    top: 0;
    right: 0;
    width: calc(100% - 4em) !important;
    margin: 0.5rem;
}
