@import 'styles/variables';

.side-container {
    background: white;
}

.side-nav {
    flex-grow: 1;
}

.side-nav-item {
    text-align: center;
}

.tab-content {
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    padding-bottom: 8px;
    background-color: $color-gray-875;
}

