@import 'styles/variables';

.side-container {
    background: $color-gray-800;
}

.side-nav {
    flex-grow: 1;
}

.side-nav-item {
    text-align: center;
}

.tab-content {
    border-radius: 5px;
    padding-bottom: 8px;
}

