// Theme colors
// From https://material.io/design/color/#tools-for-picking-colors

$color-black:      #000000;
$color-white:      #ffffff;

$color-red-50:     #ffebee;
$color-red-100:    #ffcdd2;
$color-red-200:    #ef9a9a;
$color-red-300:    #e57373;
$color-red-400:    #ef5350;
$color-red-500:    #f44336;
$color-red-600:    #e53935;
$color-red-700:    #d32f2f;
$color-red-800:    #c62828;
$color-red-900:    #b71c1c;

$color-green-50:   #e8f5e9;
$color-green-100:  #c8e6c9;
$color-green-200:  #a5d6a7;
$color-green-300:  #81c784;
$color-green-400:  #66bb6a;
$color-green-500:  #4caf50;
$color-green-600:  #43a047;
$color-green-700:  #388e3c;
$color-green-800:  #2e7d32;
$color-green-900:  #1b5e20;

$color-blue-50:    #e3f2fd;
$color-blue-100:   #bbdefb;
$color-blue-200:   #90caf9;
$color-blue-300:   #64b5f6;
$color-blue-400:   #42a5f5;
$color-blue-500:   #2196f3;
$color-blue-600:   #1e88e5;
$color-blue-700:   #1976d2;
$color-blue-800:   #1565c0;
$color-blue-900:   #0d47a1;

$color-yellow-50:  #fffde7;
$color-yellow-100: #fff9c4;
$color-yellow-200: #fff59d;
$color-yellow-300: #fff176;
$color-yellow-400: #ffee58;
$color-yellow-500: #ffeb3b;
$color-yellow-600: #fdd835;
$color-yellow-700: #fbc02d;
$color-yellow-800: #f9a825;
$color-yellow-900: #f57f17;

$color-gray-50:    #fafafa;
$color-gray-100:   #f5f5f5;
$color-gray-200:   #eeeeee;
$color-gray-300:   #e0e0e0;
$color-gray-400:   #bdbdbd;
$color-gray-500:   #9e9e9e;
$color-gray-600:   #757575;
$color-gray-700:   #616161;
$color-gray-800:   #424242;
$color-gray-850:   #3B3B3B;
$color-gray-900:   #212121;
